*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.gameArea{
    background-color: darkorange;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    

}

.Inner-game{
    display: grid;
    grid-template-rows: repeat(3, 11vw);
    grid-template-columns: repeat(3, 11vw);
    border: 10px solid rgb(255, 0, 0);

}


.box{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(255, 0, 0);
    font-size: 9vw;
    color: white;
    cursor: pointer;
    align-items: center;
}
.box:hover{
    background-color: rgb(85, 0, 255);
    color: rgb(255, 255, 255)
    
}


.gameInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-right: 0;
}


.bt-0{
    border-right: 0;
}

.bb-0{
    border-right: 0;
}

#reset{
    margin: 10px;
}
/* 
@media screen and (min-width: 965px) {
    .Inner-game{
        flex-wrap: wrap;
    }
  }
 */


